Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [31]:
c = ("Nisha" , "pwskils" , 3000)
type(c)

tuple

In [32]:
d = "Nisha"
type(d)

str

In [33]:
b = 10.15
type(b)

float

In [34]:
a = [2,3.4,5, "Nisha", "pwskills"]
type(a)

list

Q2. Given are some following variables containing data:

In [35]:
var1 = ' '
type(var1)

str

In [37]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [39]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [40]:
var4 =1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

 / - It is the division operator , which divides the first operand by the second
 % - Modulas operator which returns the remainder after division
 // - Floor division It provides the quotient's floor value, which is obtained by dividing the two operands.
** -power aoperator - As it calculates the first operand's power to the second operand, it is an exponent operator

 Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [43]:
a = [2,3.4,5, "Nisha", "pwskills" , "True" , 0.1 , 'a' , 'Python' , 100]
type(a)

list

In [17]:
for element in a:
    print (element ,type(element))

2 <class 'int'>
3.4 <class 'float'>
5 <class 'int'>
Nisha <class 'str'>
pwskills <class 'str'>
True <class 'str'>
0.1 <class 'float'>
a <class 'str'>
Python <class 'str'>
100 <class 'int'>

Q5 Using a while loop, verify if the number A is purely divisible by number B and if so then how many
 times it can be divisible.

In [24]:
## Using a while loop, verify if the number A is purely divisible by number B and if so then how many
## times it can be divisible.

A = int(input())
B = int(input())
C = 0
if A/B==0:
    while(A/B>=B and type(A/B)==int):
        C+=1
        A/=B
    C
else:
    print("Number not divisible")

2
10
Number not divisible

 Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [44]:
m = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in m:
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
Mutable data types - When data can be modified or changed 
eg: List , dictionaries,sets
    
Immutable data types - If we cannot change the value of data.
eg: Numbers , Tuples, Strings ,