PWSKILLS - Assignment 6

Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans – Database is an organized collection of data that can be accessed easily
1. SQL database are called as Relational Databases (RDBMS) and NoSQL database are called as non-relational or distributed database.
2. SQL is called as Structured Query language, NoSQL has dynamic schema for unstructured data.
3. SQL databases are table based , NoSQL databases are document-based.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans – DDL known as Data definition Language , used to create and modify database objects such as tables, indices , users.
Create – Used to create a new table in SQL.
Example – create TABLE <Table_name>
Create Table employee_info (emp_id , emp_name , emp_email_id)

DROP – Used to remove existing table along with its structure from database.
Example – DROP TABLE <table_name>;
DROP TABLE employee_info;

ALTER – Used to add , delete or change columns in existing table.
Example – ALTER TABLE <table_name>
Add column_name datatype

ALTER TABLE employee_info 
Add mobile_num;

TRUNCATE – Used to remove all rows from the table without changing the structure of table.
Example – TRUNCATE TABLE <table_name>;
TRUNCATE TABLE employee_info;


Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
DML known as Data Manipulation Language, deals with manipulation of data present in the database.
INSERT – Used to add new data to the database.
Example - INSERT INTO TABLE_NAME (column_name1 , column_name2 …)
INSERT INTO employee_info( emp_id , emp_name , emp_email_id ) VALUES (001 , Mark , mark@gmail.com)

UPDATE – Allows users to update or modify the existing data in the database tables
UPDATE TABLE_NAME SET (column_name1= value_1, ….., column_nameN = value_N) WHERE CONDITION;
UPDATE employee_info emp_name = Elon WHERE emp_id = 001;

DELETE – Allows user to remove single or multiple existing records from the database tables.
Example – DELETE FROM table_name WHERE condition;
DELETE FROM emp_info where emp_id = 001;

Q4. What is DQL? Explain SELECT with an example.
Ans – DQL known as Data Query Language. Used for performing queries on the data , used to fetch data from the database.
SELECT – Used to extract data from the database in order to perform any actions to it.
Example – SELECT expressions FROM TABLES WHERE conditions;
SELECT emp_name FROM emp_info where emp_id =001;

Q5. Explain Primary Key and Foreign Key.
Ans – A primary key is used to ensure that data in the specific column is unique.
A foreign key is a column of data in a table that refers to unique data values.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
--
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

A cursor is an object which helps to execute the query and fetch the records from the database.
example-
mycursor = mydb.cursor()
mycursor.execute("INSERT into test1.test_table values (3654 , 'Nisha' ,41.2 , 87 , 'Shah')")
mydb.commit()
mydb.close()

#### Q7. Give the order of execution of SQL clauses in an SQL query.

    Order	      Clause	       Function
        1	        FROM	        Tables are joined to get the base data.
        2	        WHERE	        The base data is filtered.
        3	        GROUP BY	    The filtered base data is grouped.
        4	        HAVING	        The grouped base data is filtered.